<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <main>
        
        <div class="app">
            <div class="header">
                <div class="back">
                    <span class="material-symbols-outlined">arrow_back_ios</span>
                </div>
                <div class="name">
                    <h1>{{user.name}}</h1>
                </div>
                <div class="options">
                    <span class="material-symbols-outlined">notifications</span>
                    <span class="material-symbols-outlined">more_horiz</span>
                </div>
            </div>
            <div class="banner">
                <div class="photo">
                    <img src="{{user.pic}}" />
                </div>
                <div class="username">
                    <h1>@{{user.username}}</h1>
                    {% if user.verified %}
                        <span class="material-symbols-outlined">check_circle</span>
                    {% endif %}
                </div> 
                <div class="numbers">
                    <div class="stats">
                        <span>{{user.following}}</span>
                        <span>Following</span>
                    </div>
                    <div class="stats">
                        <span>{{user.followers}}</span>
                        <span>Followers</span>
                    </div>
                    <div class="stats">
                        <span>{{user.likes}}</span>
                        <span>Likes</span>
                    </div>
                </div>
                <div class="action">
                    <button class="follow">Follow</button>
                    <button><span class="material-symbols-outlined">arrow_drop_down</span></button>
                </div>
                <div class="bio">
                    <p>{{user.biography}}</p>
                </div>
            </div>
            <div class="content">
                <div class="menu">
                    <span class="material-symbols-outlined">menu</span>
                    <span class="material-symbols-outlined">favorite</span>
                </div>
                <div class="library">
                    {% for photo in user.photos %}
                        <div class="image">
                            <img src="{{photo}}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </main> 
</body>
</html>